
<footer class="footer mt-5 border-top   bg-kanban-footer">
  <div class="container py-3 d-flex flex-column flex-md-row gap-2 align-items-center justify-content-between">
    <div class="small text-muted">
      &copy; {{ "now"|date("Y") }} Nadezhda/Shabadin — Symfony ToDo / Kanban
    </div>

    <ul class="nav gap-3 small">
      <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#" rel="noopener">À propos</a></li>
      <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="mailto:malygina777@gmail.com">Contact</a></li>
      <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="https://github.com/malygina777/SymfonyTodo" target="_blank" rel="noopener">GitHub</a></li>
    </ul>
  </div>
</footer>


